<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Olá {{email.name}},</p>
    <p>Você solicitou uma recuperação de senha.</p>
    <p>Clique no link abaixo para criar uma senha nova.</p>
    <a href="https://{{email.link}}">Nova Senha</a>
</body>

</html>